*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body { 
 background-color: rgb(243, 243, 245);
 font-family: 'Courier New', Courier, monospace;
 font-size: 20px;
 text-align: center;
 }

 section,
 footer{
    padding: 54px 0;
 }

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: auto;
}

header{
background-position: center;
background-size:cover;
background-attachment: fixed;
}

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    padding-top: 30;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color:white;
    margin:0 25px;
    text-transform: uppercase;
    font:14px;
    display:block;
    text-decoration: none;
}

.banner{
    display:flex;
    justify-content: center;
}

.Banner .Banner-text{
    margin:150px;
    text-align: center;
    padding: 0 90px;
}

.Banner .Banner-text h1{
    font-size: 60px;
    font-style:initial;
    color:whitesmoke
}

.Banner .Banner-text p{
    font-size: 20px;
    color:whitesmoke;
}

.titulos{
    width: 100%;
    height:100%;
    background-color: rgb(222, 113, 167);
    margin:auto ;
    position:center ;
    font-size: 30px;
    color:white;
}

.Beneficios .container{
    display: flex;
}

.Beneficios .bem-estar-texto{
   width: 100%;
   background-color: white;
   position:relative;
   text-align: center;
   margin-right: 6px;
   margin-left: 10px;
   margin-top: 5px;
   margin-bottom: 5px;
   float: left;
}

.Beneficios .bem-estar-texto h2{
    text-align: center;
    color: rgb(222, 113, 167);
    
}

.Beneficios .bem-estar-texto p{
   text-align-last: center;
   text-size-adjust: center;
   border-color: aliceblue;
   
}

.Beneficios .bem-estar-img{
    width: 60%;
}

.Beneficios .bem-estar-img img{
    width: 100%;
    height: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 6vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
   
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
   }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

.card-item{
    display:flex;
    background-color: white;
    width: 100%;
    height: 315px;
    position:relative;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
     
    }

.roteiro{
    
    background-color: white;
    position:relative;
    text-align: center;
    margin-right: 6px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.roteiro h2{
    text-align: center;
    color: rgb(222, 113, 167);
}
.bottom{
    background-color: rgb(222, 113, 167);
    padding:30px 25px;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    color:white;
}

.footer{
    width: 100%;
    height:85%;
    background-color: rgb(222, 113, 167);
    margin:auto ;
    position:center ;
    font-size: 20px;
    color:white;
}

.footer2{
    width: 80%;
    height:80%;
    background-color: white;
    margin:auto ;
    position:center ;
    font-size: 10px;
    color:rgb(220, 132, 213);
}